<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-StartupNameGenerator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Toast.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A7C43FECF223A353EE52B0DE515DC38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824A7EF95C469016915831B2F9597D35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
